.section{
padding:90px 60px;
background:#f4efff;
}

.heading{
text-align:center;
margin-bottom:60px;
}

.heading p{
color:#6B2D8B;
letter-spacing:2px;
font-weight:700;
}

.heading h2{
font-size:42px;
color:#35105C;
margin-top:15px;
}

.grid{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.card{
background:#F8F3FF;
padding:35px;
border-radius:22px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.icon{
width:60px;
height:60px;
margin:auto;
margin-bottom:20px;
border-radius:50%;
background:#6B2D8B;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:22px;
}

.card h3{
color:#35105C;
}

@media(max-width:900px){

.section{
padding:60px 20px;
}

.grid{
grid-template-columns:repeat(2,1fr);
}

.heading h2{
font-size:32px;
}

}

@media(max-width:600px){

.grid{
grid-template-columns:1fr;
}

}